@import "animate/animate.scss";

$primary-color: #33a;
$font-stack:    'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-color: white;
$alignment: center;
$shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
$transparent: rgba(255,255,255,0.4);


@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



body {
  font: 100% $font-stack;
  background-color: $primary-color;
  color: $font-color;
  text-align: center;
  text-shadow: $shadow;

}


.wrap{
	background-color:$transparent;
	margin: 10% 0 10% 10%;
	padding: 0.5%;
	float:left;
	width:20%;
	@include border-radius(5px);
}
.carousel-control{
	color: $font-color;
	width:2%;
}
.carousel-control.left,.carousel-control.right{
	background-image: none;
	
}

img{
	width:220px;
	margin-bottom:10px;
}

.review-content{
	font-size:1.3em;
	left:200px;
	text-align:justify !important;
	padding-left:10%;
	padding-right:10%;
}
.carousel-indicators{
	bottom: -40px;
	left: 40px;
	
}
.carousel-indicators li{
	border-radius:2px;
	width:15px;
	

}
.carousel-indicators .active{
	width:17px;

}
#top{
	width:100%;
}

#slide{
	min-height:185px;
}
#title{
	padding-right:10%;
	padding-left:10%;
}
#arrow{
	color: $font-color;

}
a {
	color: $font-color;
}
.bigger{
	width:40%;
	font-size:1.4em;

}
#author, #less{
	text-align:center;
}